services:
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
  
  #Milvus 不是一个镜像就结束了，需要etcd+minio+milvus三个服务协同工作
  etcd:
    image: quay.io/coreos/etcd:v3.5.5
    command: > #etcd 启动必须要相关参数，否则启用默认设置的话会无法接收相关服务 advertise 其他服务连接端口 listen etcd监听端口
      etcd
      --advertise-client-urls=http://0.0.0.0:2379         
      --listen-client-urls=http://0.0.0.0:2379
      --data-dir=/etcd
    volumes:
      - etcd:/etcd

  minio:
    image: minio/minio:latest
    command: minio server /minio_data --console-address ":9001"  #需要以server模式跑才能存储对象，并且传入 web console的端口号
    environment:
      MINIO_ROOT_USER: minioadmin     #这个地方没办法跳过认证，必须设置用户名密码符合S3规范
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"   
      - "9001:9001"   
    volumes:
      - minio:/minio_data

  milvus:
    image: milvusdb/milvus:latest
    command: ["milvus", "run", "standalone"]
    environment:
      ETCD_ENDPOINTS: etcd:2379 #etcd 服务地址
      MINIO_ADDRESS: minio:9000 #minio 服务地址
      MINIO_ACCESS_KEY: minioadmin #访问 minio 服务需要的认证
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "19530:19530" # 可选：宿主机连服务时需要的端口
      - "9091:9091"   
    depends_on:
      - etcd
      - minio
    volumes:
      - milvus:/var/lib/milvus
  
  #Knowlege Graph 服务
  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"   # 浏览器 UI 端口
      - "7687:7687"   # Bolt 端口
    environment:
      NEO4J_AUTH: "none"  #这里可以跳过认证，仅用于开发用途
    volumes:
      - neo4j_data:/data
  
  apps:
    build: .
    depends_on:
      - ollama
      - milvus
      - neo4j
    environment:
      OLLAMA_BASE_URL: http://ollama:11434

volumes:
  ollama:
  etcd:
  minio:
  milvus:
  neo4j_data: